SPRING_DATA_MONGODB_URI=mongodb://your_app_user:your_app_password@mongodb:27017/fruit_order_db?authSource=fruit_order_db
MONGODB_LOG_LEVEL=INFO

MONGO_INITDB_ROOT_USERNAME=your_root_username
MONGO_INITDB_ROOT_PASSWORD=your_root_password
MONGO_INITDB_DATABASE=fruit_order_db

APP_DB_USER=your_app_username
APP_DB_PASS=your_app_password